[Unit]
Description=avahi-register process
PartOf=avahi-register.target
StopWhenUnneeded=yes

[Service]
WorkingDirectory=/
Environment=PS=avahi-register
EnvironmentFile=-/etc/default/avahi-register
EnvironmentFile=-/etc/sysconfig/avahi-register
ExecStartPre=/usr/bin/avahi-register init
ExecStart=/bin/bash -lc 'exec -a "avahi-register" avahi-register run'
Restart=always
RestartSec=10s
StandardInput=null
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
